<!-- #VARIABLE CREE UNE VARIABLE AU NIVEAU DU TEMPLATE-->
<!-- #LES SERVICES FOACTORISE LES COMPORTEMENT OU FONCTIONNALITE COMMUNE DANS UN SERVICE -->
<!--LES PIPE PERMETTENT DE FORMATER L'AFFICHAGE DES ELEMENTS DU TEMPLATE -->
<!--CHAQUE FOIS QUE L'URL VAS BOUGER ROUTER-OUTLET VAS ETRE REMPLACER PAR LE COMPOSANT ASSOCIER -->
<nav>
       <div class="nav-wrapper teal">
              <a href="#" class="brand-logo center">
                     Pokedex
              </a>
       </div>
</nav>
<router-outlet></router-outlet>

